body{
    background-color: lightblue;
    background-image: url("Untitled.jpg");
    background-repeat:repeat;
    font-family: "bungee";
}

   .controller{
    width: 10px;
    height: 10px;
    
   
}


.wrapper {
  
    border: 1px solid red;
    margin: 10px;
     font-size:30px;
    text-align: center;
    
}
.green{
    
    background: linear-gradient(-90deg,#11AB34,#0DFF43);
    margin: 50px;
    
}
.subtitle {
  position: relative;
  margin: 20px;
  
  font-size: 10px;
}
  



.quote{
    margin: 25px;
  font-style:italic;
   font-size:10px;
}
.summary {

    text-align: center;
    margin: 50px;
}
.questions {
    margin: 100px;
}
.container{
    background-color: #fff;
    opacity: 0.9;
}


