body{
    background-color: lightblue;
    background-image: url("Untitled.jpg");
    
    font-family: "bungee";
}

.wrapper {
  
    border: 1px solid red;
    margin: 10px;
     font-size:30px;
    text-align: center;
    
}
.green{
    background-color: #B7FF52;
    
}
.subtitle {
  position: relative;
  margin: 20px;
  
  font-size: 10px;
}
  

.quote{
    margin: 25px;
  font-style:italic;
   font-size:10px;
}
.summary {

    text-align: center;
    margin: 50px;
}
.questions {
    margin: 100px;
}
.container{
    background-color: #fff;
    opacity: 0.;
}


