body{
    background-color: lightblue;
    
    font-family: "bungee";
}

.wrapper {
  
    border: 1px solid red;
    margin: 10px;
    font-style:italic;
     font-size:30px;
    text-align: center;
    
}
.green{
    background-color: #B7FF52;
    
}
.subtitle {
  position: relative;
  margin: 20px;
  
  font-size: 10px;
}
  

.quote{
    margin: 25px;
  font-style:italic;
   font-size:10px;
}
.summary {
    font-size: 1px;
    text-align: center;
    margin: 50px;
}
.questions {
    margin: 100px;
}
.cast {
    display:inline ;
}